<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sferadev.qpair"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.lge.qpair.permission.USE_QPAIR_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AdvancedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sferadev.qpair.CHANGE_IME" />
                <action android:name="com.sferadev.qpair.CHANGE_WIFI" />
                <action android:name="com.sferadev.qpair.CHANGE_RINGER_MODE" />
                <action android:name="com.sferadev.qpair.CREATE_DIALOG" />
                <action android:name="com.sferadev.qpair.OPEN_ACTIVITY" />
                <action android:name="com.sferadev.qpair.OPEN_PLAY_STORE" />
                <action android:name="com.sferadev.qpair.OPEN_URL" />
                <action android:name="com.sferadev.qpair.SCREEN_OFF" />
                <action android:name="com.sferadev.qpair.UPDATE_BRIGHTNESS" />
                <action android:name="com.sferadev.qpair.UPDATE_CLIPBOARD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.IntentFilterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.media.RINGER_MODE_CHANGED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.AppInstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AssistActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.systemui.action_assist_icon"
                android:resource="@drawable/ic_launcher" />
        </activity>

        <activity
            android:name=".activity.AdminActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <service
            android:name=".service.ShakeService"
            android:enabled="true"
            android:exported="true"
            android:process=":background" />

        <receiver
            android:name=".receiver.AdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
